body {
    margin: 0;
    padding: 0;
}

HTML5 display-role reset for older browsers article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;

}

/* CSS COLOR VARS */
:root {
    --main-color: #495C83;
    --secound-color: #7A86B6;
    --third-color: #A8A4CE;
    --fourth-color: #C8B6E2;
    --palette-five: #e6e4e9;
}


body {
    background-color: var(--fourth-color)
}

.body-container {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 2fr);
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.header {
    background-color: var(--palette-five);
    grid-column: 2 / -1;

}

.top-nav {
    padding-top: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user {

    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body>header>div.bottem-nav>div.user {
    justify-content: start;
}

.user img {
    border-radius: 50%;
    width: 10%;
    height: auto;
}

.bottem-nav {
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: grid;
    grid-template-rows: repeat(3, 1fr);

    grid-template-columns: repeat(auto-fit, repeat(3, minmax(150px, 1fr)));
    /* grid-template-columns: repeat(1, 1fr); */
    background-color: rgb(141, 199, 151);
    grid-column: 1 / 1;
    grid-row: 1 / -1;
}

.logo {
    padding-top: 3%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.nav>menu {
    flex-grow: 2;
}

.btns {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;

}

h3 {
    font-weight: 600;
}

.card-btns {
    justify-content: end;
    display: flex;
    gap: 10px;
}

.btns>button {
    border-radius: 5px;
    background-color: var(--main-color);
    border: none;
    color: white;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
}

body>header>div.top-nav>div>img {
    width: 20px;
    height: auto;
}



.svg {
    filter: invert(100%);
    width: 20px;
    height: auto;
}