body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;

}

h2 {
    color: black;
}

h3 {}

/* CSS COLOR VARS */
:root {}


body {
    background-color: whitesmoke;
}

.body-container {
    display: grid;
    background-color: rgb(88, 119, 85);
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 2fr);
}

.main {
    background-color: rgb(88, 119, 85);
    display: grid;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));


}

.search {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

body>header>div.top-nav>div.search>img {
    padding-right: 5%;
    justify-self: end;
}

body>header>div.top-nav>div.search>input {
    border-radius: 10px;
    ;
}

.header {
    background-color: rgb(153, 161, 144);
    grid-column: 2 / -1;

}

.top-nav {

    border-bottom: 1px black solid;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user {

    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trending {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 10px;


}


.card-style {
    background-color: rgb(181, 191, 184);
    margin: 10px;
    border-radius: 1px;
    color: black;
    padding: 10px;

    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: 0.3s;
}


.user img {
    border-radius: 50%;
    width: 10%;
    height: auto;
}

.bottem-nav {

    padding-left: 20px;
    display: flex;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
}

.user-list img {
    width: 40px;
    height: auto;
    border-radius: 20px;


}

.user-list {
    padding: 15px;
    border-radius: 50px;


    display: flex;
    flex-direction: column;
}

.nav {
    display: grid;
    grid-template-rows: repeat(8, minmax(50px, 1fr));
    background-color: rgb(78, 117, 74);
    grid-template-columns: repeat(auto-fit, repeat(3, minmax(150px, 1fr)));
    /* grid-template-columns: repeat(1, 1fr); */

    border: black 1px solid;
    grid-column: 1 / 1;
    grid-row: 1 / -1;
}

.logo {
    display: grid;
    align-items: center;
    justify-content: center;

}

.logo> :nth-child(1) {

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

}


.menu>ul {
    display: grid;
    grid-gap: 2px;
    grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
}



.btns {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;

}

h3 {
    font-weight: 600;
}

.card-btns {
    display: flex;
    gap: 10px;
}


.card {

    background-color: rgb(181, 191, 184);
    margin: 10px;
    border-radius: 4px;
    color: black;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.annocuments {
    background-color: rgb(181, 191, 184);
    margin: 10px;
    border-radius: 4px;
    color: black;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.annocuments-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
}


.btns>button {
    border-radius: 5px;

    border: none;
    color: rgb(0, 0, 0);
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
}

body>header>div.top-nav>div>img {
    width: 20px;
    height: auto;
}



.svg {
    /* filter: invert(100%); */
    width: 20px;
    height: auto;
}

.large-svg {
    filter: invert(100%);
    width: 50px;
    height: auto;
}